<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        <div style="margin-bottom: 35px;">
                            <span style="font-size: 1.5em; font-weight: bold; display: block; margin-bottom: 10px;">Yerim Choi</span>
                            <span style="color: darkgray; display: block;">Dankook University, Software Engineering, BITL, Artificial Intelligence, Machine Learning, Deep Learning, South Korea</span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span style="font-weight: bold; display: block; margin-bottom: 10px;">Background</span>
                            <li style="margin-bottom: 30px;">Software Engineering Student studying Data Science</li>
                        </div>
                        <div style="margin-bottom: 35px;">
                            <span style="font-weight: bold; display: block; margin-bottom: 10px;">Education</span>
                            <li style="margin-bottom: 10px;">Complete Business Diploma Course at UTS Insearch</li>
                            <li>3rd year in Software Engineering Department at Dankook University</li>
                        </div>
                        <div style="margin-bottom: 35px;">
                            <span style="font-weight: bold; display: block; margin-bottom: 10px;">Skills</span>
                            <li style="margin-bottom: 10px;">Major Experiences with #Python #R #C/C++ #MySQL</li>
                            <li>Other Experiences with #JAVA #JavaScript #LINUX #Git</li>
                        </div>
                    </p>                    

                    <br>
                    
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="https://yerim-devlog.vercel.app/"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/cv"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">CV
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="column is-narrow" style="width: 100%;">
                <a href="{{site.url}}{{site.baseurl}}/#activities" style="background-color: transparent;">
                    <span class="icon has-text-grey" style="font-size: 24px;">
                        <i class="fas fa-angle-down"></i>
                    </span>
                </a>
            </div>
        </div>
</section>