<section class="hero is-fullheight has-text-centered" id="activities">
    <div class="hero-body">
        <div class="container">
            <div><b><font size="+3">Current Activities</font></b></div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        <div><font size="+1"><b>BITL</b></font></div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        <div><font size="+1"><b>BITL</b></font></div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        <div><font size="+1"><b>BITL</b></font></div>
                    </p>
                    <br>
                </div>
            </div>
            <br>
            <br>
            <div class="column is-narrow" style="width: 100%;">
                <a href="{{site.url}}{{site.baseurl}}/#project-card" style="background-color: transparent;">
                    <span class="icon has-text-grey" style="font-size: 24px;">
                        <i class="fas fa-angle-down"></i>
                    </span>
                </a>
            </div>
        </div>
</section>