<section class="hero is-fullheight has-text-centered" id="activities">
    <div class="hero-body">
      <div class="container">
        <div><b><font size="+3">Current Activities</font></b></div>
        <br>
        <br>
        <div class="columns" style="display: flex; justify-content: center;">
          <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
              <img class="is-rounded" src="https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{site.author-name}}">
            </figure>
          </div>
          <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
              <img class="is-rounded" src="https://images.unsplash.com/photo-1622037022824-0c71d511ef3c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{site.author-name}}">
            </figure>
          </div>
          <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
              <img class="is-rounded" src="https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{site.author-name}}">
            </figure>
          </div>
          <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
              <img class="is-rounded" src="https://plus.unsplash.com/premium_photo-1712182569187-5db48f7007ee?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{site.author-name}}">
            </figure>
          </div>
        </div>
        <div class="columns" style="display: flex; justify-content: center;">
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
              <div>
                  <span style="margin-top: 10px; font-size: 1.2em; font-weight: bold; display: block; margin-bottom: 10px;">Lab</span>
              </div>
              <div>
                <span>BITL</span>
              </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
              <div>
                  <span style="margin-top: 10px; font-size: 1.2em; font-weight: bold; display: block; margin-bottom: 10px;">Association</span>
              </div>
              <div>
                <span>Swag</span>
              </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
              <div>
                  <span style="margin-top: 10px; font-size: 1.2em; font-weight: bold; display: block; margin-bottom: 10px;">Study Group</span>
              </div>
              <div>
                <span>ALPHA, DeepLearning</span>
              </div>
            </div>
            <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
              <div>
                  <span style="margin-top: 10px; font-size: 1.2em; font-weight: bold; display: block; margin-bottom: 10px;">Competition</span>
              </div>
              <div>
                <span style="color:rgb(204, 204, 204);">Nothing</span>
              </div>
            </div>
          </div>
        <br>
        <br>
        <div class="column is-narrow" style="width: 100%;">
          <a href="{{site.url}}{{site.baseurl}}/#project-card" style="background-color: transparent;">
            <span class="icon has-text-grey" style="font-size: 24px;">
              <i class="fas fa-angle-down"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  